@tailwind base;
@tailwind components;
@tailwind utilities;


/* Base body styles */
body {
  /* Use semantic color roles defined in tailwind config */
  /* background.DEFAULT, foreground.DEFAULT */
  @apply font-sans bg-background text-foreground;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: Style headings globally to use the serif font */
h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
